#input{
    width: 15em;
 justify-content: space-evenly;
 margin-left: 1%;
 margin-bottom: 3%;
}

#input2{
    width: 14em;
    justify-content: space-evenly;
    margin-left: 1%;
    margin-bottom: 3%;
}